.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-headline {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.results {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.results-headline {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.results-score-list{
    display: inline-flex;
}

.results-score-item {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-right: 20px;
}

.results-score-item:last-child {
    margin-right: 0;
}

.results-score-item .passed {
    font-weight: bold;
    color: #57D4BA;
}

.results-score-item .failed {
    font-weight: bold;
    color: #D6596F;
}

@media (min-width: 768px) {
    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 70px;
    }

    .page-headline {
        margin-bottom: 48px;
    }
}