.questionnaire-progress {
    background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    border-radius: 40px;
    margin-bottom: 20px;
}

.questionnaire-progress-bar {
    background: linear-gradient(108.3deg, #70E8BD 23.49%, #66DBB1 76.7%);
    box-shadow: inset 5px -4px 10px #53D2BB;
    border-radius: 40px;
}

@media (min-width: 768px) {
    .questionnaire-progress {
        margin-bottom: 36px;
    }
}