.question-list {
    display: none;
    margin-bottom: 20px;
}

button:focus {
    outline: 0;
}

@media (min-width: 768px) {
    .question-list {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }
}
